@page
@model SecretModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<h1>This is a secret page</h1>


@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled PolicyName.</p>
}